.row
  .columns.text-centered
    if locals.name
      h1 Edit Your Dish
    else
      h1 New Dish For Today
- var selected = locals.user_id ? locals.user_id : ''

form
  .row
    .columns
      .full-error.panel.hide
        p
  .row
    .columns
      label.name-label Dish Name
        input.name(type='text',name='name',value=locals.name)
        small.error.hide
  .row
    .columns
      label.price-label Dish Price
        input.price(type='text',name='price',autocomplete='off',value=locals.price)
        small.error.hide
  .row
    .columns
      label.user-label Sharers
        if locals.user_ids && !locals.order_owner_share && !locals.belongs_to_current_user
          select.chosen-select.user-ids(name='user-ids', disabled).a(multiple)
            each user in gon.usersForSelect
              if user.debt_permitted
                if user.current_user
                  option(value=user.id, disabled, selected=user.id==selected)=user.name
                else if locals.user_ids.includes(user.id)
                  option(value=user.id, selected=user.id)=user.name
                else
                  option(value=user.id)=user.name
        else
          select.chosen-select.user-ids(name='user-ids').a(multiple)
            each user in gon.usersForSelect
              if user.debt_permitted
                if user.current_user
                  option(value=user.id, disabled, selected=user.id==selected)=user.name
                else if locals.user_ids.includes(user.id)
                  option(value=user.id, selected=user.id)=user.name
                else
                  option(value=user.id)=user.name
        small.error.hide
  .row
    .columns
      button.success.expand.button(type='submit') Save
