if locals.ordered_by_current_user
  .big-order-box-red.animate__fade-in
    .big-order-box-left
      .big-order-box__restaurant= locals.from
      .big-order-box__date= moment(locals.date).format('LL')
      .big-order-box__status.status-label(class="status-label__#{locals.machineStatus}")
        = locals.humanStatus

    .big-order-box-right
      .big-order-box__who Who ordered: 
        =  locals.who_ordered
      .big-order-box__your-dish Your dish: 
        =  locals.current_user_dish
      .big-order-box__price Price: 
        =  locals.current_user_dish_price
        |  PLN
      .big-order-box__shipping Shipping: 
        =  locals.shipping
        |  PLN
      .big-order-box__dishes Dishes count: 
        =  locals.dishes_count
else
  .big-order-box-blue.animate__fade-in
    .big-order-box-left
      .big-order-box__restaurant= locals.from
      .big-order-box__date= moment(locals.date).format('LL')
      .big-order-box__status.status-label(class="status-label__#{locals.machineStatus}")
        = locals.humanStatus

    .big-order-box-right
      .big-order-box__who Who ordered: 
        =  locals.who_ordered
      .big-order-box__your-dish Your dish: 
        =  locals.current_user_dish
      .big-order-box__price Price: 
        =  locals.current_user_dish_price
        |  PLN
      .big-order-box__shipping Shipping: 
        =  locals.shipping
        |  PLN
      .big-order-box__dishes Dishes count: 
        =  locals.dishes_count
